[submodule "models/VisionZip"]
	path = models/VisionZip
	url = https://github.com/dvlab-research/VisionZip.git
[submodule "models/SparseVLMs"]
	path = models/SparseVLMs
	url = https://github.com/Gumpest/SparseVLMs.git
[submodule "models/LLaVA"]
	path = models/LLaVA
	url = https://github.com/haotian-liu/LLaVA.git
